@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f7b006;
  --secondary-color: #052455;
  --white: #ffffff;
  --accent-color: #9a0707;
}

@font-face {
  font-family: 'Fixture';
  src: url('/fonts/Fixture/FixtureUltra-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixture';
  src: url('/fonts/Fixture/Fixture-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background: var(--white);
  backdrop-filter: blur(10px);
}

.logo a {
  font-family: "Fixture", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-left: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}

.hamburger {
  display: flex;
  margin-right: 30px;
  color: var(--primary-color);
  flex-direction: column;
  cursor: pointer;
  z-index: 1001;
}

.hamburger span {
  width: 15px;
  height: 2px;
  background-color: var(--primary-color);
  margin: 2px 0;
}

/* Desktop Navigation */
@media (min-width: 992px) {
  .nav-menu {
    position: static;
    transform: none;
    opacity: 1;
    visibility: visible;
    background: none;
    backdrop-filter: none;
    box-shadow: none;
    width: auto;
    margin-right: 20px;
  }

  .nav-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
  }

  .nav-menu ul li {
    margin: 0;
  }

  .nav-menu ul li a {
    font-size: 1rem;
    padding: 5px 0;
  }
}

/* Mobile Navigation */
@media (max-width: 991px) {
  .nav-menu {
    position: fixed;
    z-index: -1;
    top: 70px;
    right: 0;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    transition: 0.3s ease-in-out;
    transform: translateY(-100%);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
  }

  .nav-menu.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.nav-menu ul {
  list-style: none;
}

.nav-menu ul li {
  margin: 15px 0;
}

.nav-menu ul li a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.3rem;
  transition: 0.3s;
}

.nav-menu ul li a:hover {
  color: var(--secondary-color);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a {
  color: rgb(var(--foreground-rgb));
  text-decoration: none;
}

/* Import Font Awesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

/* Custom styles */
.font-fixture {
  font-family: 'Fixture', sans-serif;
}

/* Smooth transitions */
.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}
